* {
  font-family: "Overpass", sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
}

button {
  font-weight: 700;
  background-color: hsl(25, 97%, 53%);
  border-radius: 25px;
  border: none;
  width: 90%;
  height: 45px;
  letter-spacing: 3px;
  transition: ease 300ms;
}

button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 20px 0;
}

li {
  color: hsl(216, 12%, 54%);
  list-style: none;
  background-color: hsl(213, 18%, 24%);
  padding: 15px 20px;
  border-radius: 50%;
  transition: ease 300ms;
}

li:hover {
  color: white;
  background-color: hsl(217, 12%, 63%);
  cursor: pointer;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
}

i {
  background-color: hsl(213, 18%, 24%);
  padding: 20px;
  border-radius: 50%;
  margin: 10px 0;
}

.front-card {
  width: 350px;
  height: 350px;
  padding: 25px;
  border-radius: 25px;
  background-color: hsl(213, 19%, 18%);
}

.submit {
  display: flex;
  justify-content: center;
}

/* ---------- */

.selected,
.selected:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}
